<div class="container">
  <br>
    <div class="table-responsive">
        <table class="table">
            <caption>List of users</caption>
            <tbody>
              <tr>
                <td><b> Name </b></td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td><b>Email</b></td>
                <td>@fat</td>
              </tr>
              <tr>
                <td><b>Contact No.</b></td>
                <td>9732343223332</td>
              </tr>
              <tr>
                <td><b>Location</b></td>
                <td>Jalandhar</td>
              </tr>
              <tr>
                <td><b>No of Book Uploaded</b></td>
                <td>45 <a routerLink="/book/history" style="color: darkgreen;">Click To View All</a></td>
              </tr>
              <tr>
                <td><b>No of Book Sold</b></td>
                <td>32  <a href="#" style="color: darkgreen;">Click To View All</a></td>
              </tr>
            </tbody>
        </table>
      </div>
</div>
