<div class="col col-md-12 col align-self-end">
    <div class=" col-md-9">

    </div>
    <div class="col col-md-3 col align-self-end">

            <div class="btn-group" role="group" aria-label="Basic example">
                <button routerLink="/book/postbook" type="button" class="btn btn-primary"><i class="fas fa-plus"></i> Add Book</button>
                <button routerLink="/book/history"type="button" class="btn btn-primary"><i class="fas fa-cloud-upload-alt"></i> Uploaded</button>
                <button type="button" class="btn btn-primary"><i class="fas fa-history"></i> Status</button>
            </div>
    </div>
    <div class="col col-md-10 col-md-offset-1">
        <router-outlet></router-outlet>
    </div>
</div>